<article>
  <img src="{{ site.url }}/assets/max.jpg" class="avatar">
  <h3>
    <span class="name">{{ site.author.name }} </span>
    <time datetime="{{ status.title | date_to_xmlschema }}">&middot;
      <a
        href="{{ status.url }}"
        class="moment"
        title="{{ status.title | date_to_rfc822 }}"
        datetime="{{ status.title | date_to_xmlschema }}"
      >
        {{ status.title | date_to_rfc822 }}
      </a>
    </time>
  </h3>
  <div class="excerpt">
    {{ status.content }}
  </div>
  {% if status.attachment %}
    <div class="attachment">
      <img src="{{ status.attachment }}" alt="Attachment for {{ status.title }}" />
    </div>
  {% endif %}
  {% include tweet_this.html %}
  {% include source.html %}
  {% if include.show_children %}
    {% include children.html %}
  {% endif %}
  {% if include.show_parent %}
    {% include parent.html %}
  {% endif %}
</article>
