---
---

html {
  font-size: calc(1em + .1vmax);
  font-family: Fira Mono, monospace, courier;
  line-height: 1.5;
}

body {
  width: 70%;
  max-width: 700px;
  margin: 5% 10%;
  background: #111;
  color: #aaa;

  @media (max-width: 800px) {
    width: 90%;
    margin: 5%;
    max-width: 100%;
  }
}
h1 {
  font-size: 2vmax;
  text-transform: uppercase;

  &::before {
    content: '//'
  }
}
article {
  + article {
    margin-top: 2rem;
  }

  article {
    font-size: .9rem;
    margin-left: 0;
    padding: 1rem;
    background-color: rgba(#000, .5);

    .avatar {
      display: none;
    }
    .excerpt,
    .attachment {
      margin-left: 0;
    }
    + article {
      margin-top: 1em;
    }
  }
}

h3 {
  margin: 0 0 .5em;
  font-size: 1em;
  padding: 0;
  line-height: 1;
  text-transform: uppercase;

  a {
    text-decoration: none;
  }

  article > & {
    border-bottom: 4px double currentColor;
    padding-bottom: .5em;
    margin-left: calc(3rem + 8px);

    article & {
      margin-left: 0;
    }
  }
}
a {
  color: #ddd;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

.svg {
  max-width: 1em;

  svg {
    fill: #fff;
    max-width: 100%;
    height: auto;
  }
}
.status-icon-link {
  display: inline-block;
  width: 1em;
  height: 1em;

  span {
    display: none;

  }
}
.emoji {
  height: 1em;
  display: inline-block;
  + .emoji {
    margin-left: .25em;
  }
}

.avatar {
  width: 3rem;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 4px double currentColor;
}

.back {
  font-size: 1rem;
  text-transform: uppercase;

  .svg {
    float: left;
    width: .72em;
    margin-right: .25em;
    margin-top: .05em;
  }
  &:hover {
    .svg {
      svg {
        file: #fff;
      }
    }
  }
}

blockquote {
  margin-left: 1rem;
  padding: .5rem 1rem;
  border-left: 4px double currentColor;
  line-height: 1.2;
  font-style: italic;

  p {
    margin: 0;

    + p {
      margin-top: 1em;
    }
  }
}
.excerpt {
  white-space: wrap;
  word-wrap: break-word;
}
.excerpt,
.attachment,
.parent,
.children {
  margin-left: calc(4rem + 8px);
}
.attachment {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 0;

  img {
    border: 4px double currentColor;
    box-sizing: border-box;
  }
}
