---
---

// Core page styles
html {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  line-height: 1.4;
  background-color: #f5f8fa;
  color: #14171a;
}

body {
  margin: 5% 10%;
  width: 600px;
  max-width: 80%;

}

h1 {
  color: #657786;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

a {
  color: #1b95e0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}



// Status styles

article {
  background-color: #fff;
  border: 1px solid #e6ecf0;
  margin: 0;
  overflow: hidden;
  padding: 1em;
  padding-bottom: 1.25em;
  padding-left: 4em;

  + article {
    border-top: 0;
  }
  // Round the top corners of the first one
  &:first-of-type {
    border-radius: .25em .25em 0 0;
  }
  // Round the bottom corners of the last one
  &:last-of-type {
    border-radius: 0 0 .25em .25em;
  }
  // Single one? round all corners
  &:only-of-type {
    border-radius: .25em;
  }

  .avatar {
    width: 2.5em;
    height: 2.5em;
    float: left;
    margin-left: -3em;
    border-radius: .25em;
    border: 0;
  }

  article {
    padding-left: 1em;
    font-size: .9em;

    &:first-of-type {
      margin-top: 1em;
    }

    .avatar {
      display: none;
    }
  }

  h3 {
    font-size: .8em;
    margin: 0;

    time {
      font-weight: normal;
      color: #657786;
      font-size: .9em;
    }
  }

  .excerpt {
    margin-bottom: .5em;

    p, li {
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    p {
      margin: 0;

      + p {
        margin-top: 1em;
      }
    }
  }

  .emoji {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
  }

}

.svg {
  svg {
    width: 100%;
    height: auto;
    fill: currentColor;
  }
  &-retweet {
    width: 1.2em;
    height: .9em;
  }
  &-back {
    width: .7em;
    height: .8em;
    float: left;
    margin-right: .5em;
  }
  &-reply {
    width: 1.4em;
    height: 1em;
  }
}

.share {
  font-size: 1em;
  color: #aab8c2;
  display: inline-block;
  margin-right: 1em;

  &:hover {
    color: #17bf63;
  }
  span {
    display: none;
  }
}
.back {
  font-size: .8rem;
  display: inline-block;
}
.replies {
  font-size: 1em;
  color: #aab8c2;
  display: inline-block;
  cursor: pointer;

  &:hover {
    color: #1b95e0;
  }

  .svg {
    display: inline-block;
  }
  span {
    font-size: .7em;
    vertical-align: .5em;
  }
}
.status-replies {
  display: none;

  &.show {
    display: block;
  }
}


@media (max-width: 800px) {
  body {
    width: auto;
    margin: 5%;
    max-width: 90%;
  }
}
