<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.url }}/assets/style.css">
</head>
<body>
  {{ content }}
  <script src="{{ site.url }}/assets/moment.min.js"></script>
  <script src="{{ site.url }}/assets/linkify.min.js"></script>
  <script src="{{ site.url }}/assets/linkify-element.min.js"></script>
  <script>
    (function () {
      'use strict';

      var posts = document.querySelectorAll('article');
      [].forEach.call(posts, function (value, key) {
        var _this = posts[key];
        var _thisexcerpt = _this.querySelector('.excerpt');
        var _thisdate = _this.querySelector('.moment');
        linkifyElement(_thisexcerpt);
        _thisdate.innerText = moment(_thisdate.innerText).fromNow();
      });

    }());
  </script>
</body>
</html>
