<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- opengraph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:image" content="{{ site.url }}/assets/favicon.png">


  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.author.twitter }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/favicon.png">


  <!-- other -->

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <link rel="canonical" href="{{ site.url }}" />
  <link rel="icon" type="image/png" href="{{ site.url }}/assets/favicon.png" />

  <link
    rel="alternate"
    type="application/rss+xml"
    title="{{ site.title }} - RSS Feed"
    href="{{ site.url }}/feed.xml"
  />
  <link
    rel="alternate"
    type="application/json"
    title="{{ site.title }} - JSON Feed"
    href="{{ site.url }}/feed.json"
  />

  <link rel="stylesheet" href="{{ site.url }}/assets/style.css">
</head>
<body>
  <h1>{{ site.url | replace: 'https://', '' | replace: 'http://', '' | replace: '/', '' }}</h1>
  {{ content }}
  <script src="{{ site.url }}/assets/moment.min.js"></script>
  <script src="{{ site.url }}/assets/linkify.min.js"></script>
  <script src="{{ site.url }}/assets/linkify-element.min.js"></script>
  <script src="{{ site.url }}/assets/twemoji.min.js"></script>
  <script>
    (function () {
      'use strict';

      var posts = document.querySelectorAll('article');
      [].forEach.call(posts, function (value, key) {
        var _this = posts[key];
        var _thisexcerpt = _this.querySelector('.excerpt');
        var _thisdate = _this.querySelector('.moment');
        linkifyElement(_thisexcerpt);
        twemoji.parse(
        _thisexcerpt,
        {
          callback: function(icon, options) {
            return '{{ site.url }}/assets/twemoji-svg/' + icon + '.svg';
          }
        });
        _thisdate.innerText = moment(_thisdate.innerText).fromNow();
      });

    }());
  </script>
</body>
</html>
